@CHARSET "UTF-8";

body {
    padding: 0;
    margin: 0;
    background: url(images/bg.png) repeat-x;
    background-color: #CC0614;
}

.content {
    width: 100%;
    max-width: 846px;
    margin: 0 auto;
}

.content a {
    display: block;
    width: 100%;
}

.content a img {
    display: block;
    width: 100%;
    height: auto;
}

.buttons {
    display: block;
    width: 100%;
    max-width: 289px;
    margin: 30px auto 0 auto;
}

@media (max-width: 480px) 
{
    body {
        background-position: 0 -200px;
    }
    .content {
        overflow: hidden;
    }
    .content a {
        width: 143%;
        margin-left: -20%;
    }
}
